$base-font-size: 15px;
$base-line-height: 1.3em;

$padding-small: 8px;
$padding-medium: 14px;
$padding-large: 22px;

$white: #fff;
$black: #333;

$gray-light: #eee;
$gray-medium-light: #ccc;
$gray-medium: #aaa;
$gray-medium-dark: #888;
$gray-dark: #666;
