$padding-small: 8px;
$padding-small: 14px;
$padding-large: 22px;

$white: #fff;
$black: #333;

$gray-light: #eee;
$gray-medium-light: #ccc;
$gray-medium: #aaa;
$gray-medium-dark: #888;
$gray-dark: #666;
