.calendar {
    width: 100%;
    @include calendar-padding(8);
    margin: 0 auto;
    overflow: hidden;
    &.loading {
        text-align: center;
        padding-top: 200px;
    }
}

.calendar-item {
    & + .calendar-item {
        margin-top: $padding-large * 1.5;
    }
    &.droppable {
        .drop-target {
            display: block;
        }
        .recipe {
            display: none;
        }
    }
    &.drag-over {
        .drop-target {
            border-color: $gray-medium-dark;
            color: $gray-medium-dark;
        }
    }
    h2 {
        margin-bottom: $padding-small;
        font-size: 2.5em;
        line-height: 1.1em;
        text-align: center;
    }
    .drop-target,
    .recipe {
        margin-top: $padding-medium;
        padding: $padding-large;
        border: 4px solid $gray-light;
        text-align: center;
    }
    .drop-target {
        display: none;
        border-style: dashed;
        color: $gray-medium;
    }
    .recipe {
        a {
            float: right;
            margin-top: -3px;
            border: 0;
            font-size: 2.0em;
            font-weight: 100;
        }
    }
}
