$base-font-size: 15px;
$base-line-height: 1.3em;

$padding-small: 8px;
$padding-medium: 14px;
$padding-large: 22px;

$white: #fff;
$black: #333;
$red: #d45c37;

$gray-light: #eee;
$gray-medium-light: #ccc;
$gray-medium: #aaa;
$gray-medium-dark: #888;
$gray-dark: #666;

$logo-size: 100px;
$recipes-width: 300px;

@mixin calender-padding($gutter-size) {
    $calender-gutters: $padding-large * $gutter-size;
    $padding-right: $recipes-width + $calender-gutters;
    $padding-left: $logo-size + $padding-large + $calender-gutters;
    padding: $padding-large $padding-right $padding-large $padding-left;
}
