@media screen and (max-width: 1280px) {
    .calendar {
        @include calendar-padding(2);
    }
}

@media screen and (max-width: 880px) {
    .logo {
        display: none;
    }
    .calendar {
        float: left;
        clear: left;
        margin: 0;
        padding-left: $padding-large;
    }
}

@media screen and (max-width: 650px) {
    .recipes {
        display: none;
    }
    .calendar {
        padding: $padding-medium;
        h2 {
            font-size: 1.5em;
            text-align: left;
        }
        .recipe {
            text-align: left;
        }
    }
}
